/* #mainContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  grid-auto-rows: minmax(10px, auto);
} */

#title{
  margin: auto;
  border: 1px solid black;
  text-align: center;
  padding-top: 20px;
}

#contentContainer {
  display: grid;
  grid-template-columns: auto auto;
  /* grid-gap: 10px; */
  /* border: 1px solid blue; */
}

#recipesContainer {
  grid-column: 1/2;
  /* grid-row:3/10; */
  border: 1px solid red;
}

#addRecipeForm {
  grid-column: 2/3;
  border: 1px solid green;
}