#title {
  text-align: center;
  font-size: 80px;
  font-family: Roboto;
  padding: 40px;
}

body {
  background-color: #B2EBF2;
}

img {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 8px;
}

#recipeTitle {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  margin-bottom:0px;
}

.recipeList{
  width:100%;
}

#recipeCreator {
  text-align: center;
}

#creatorTitle{
  text-align: center;
}

#loginContainer, #signupContainer{
  text-align: center;
}